* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
#main {
  height: 2000px;
  background: linear-gradient(135deg, #f0f6ba, #e2cff6);
}

#header .nav-login {
  height: 46px;
  background-color: #00b348;
  line-height: 46px;
}
#header .nav-login li {
  display: inline-block;
  float: right;
  padding: 0px 8px;
  margin-right: 5px;
}
#header .nav-login li a:hover {
  color: #03451d;
}
#header #hotline {
  float: left;
  margin-left: 10px;
  color: white;
}

#header {
  background-color: rgb(17, 81, 57);
}
#header li a {
  text-decoration: none;
  list-style: none;
  color: aliceblue;
}
.nav li {
  position: relative;
}
.nav > ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}
.nav > ul > li {
  /* padding: 8px; */
  color: antiquewhite;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 35px;
  padding: 0 25px;
}

.nav li:hover {
  background-color: #367e56;
}
nav > .navcon > ul > li {
  color: aliceblue;
}

.navcon {
  position: absolute;
  background-color: #333;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  /* margin-top: 6px; */
  min-height: 35px;
  display: none;
  padding: 0px 10px 0px 10px;
}
.navcon ul li a {
  display: block;
  width: 100%;
}
.shownav .navcon li:hover {
  background-color: #03451d;
  display: block;
}
.shownav ul li {
  text-decoration: none;
  list-style: none;
}

#header ul li:hover > .navcon {
  display: block;
}

/* slider */
#slider {
  width: 100%;
  height: 618px;
  background-size: 100%;
  background: url("./img/hinh2.jpg") no-repeat;
}
/* content */

#content {
  height: 100px;
  background-color: #00b348;
  color: white;
}
#content .text-paner {
  margin-left: 600px;
}

#content .content-item {
  display: inline-block;
  margin-left: 200px;
  margin-top: 8px;
}

/* Container */
#container-adm > h1 {
  color: white;
  /* background-color: #54787f; */
  padding: 4px 0px 4px 9px;
}
#container-adm > .box-tong {
  display: block;
  display: flex;
}
.box-show {
  height: 100px;
  width: 400px;
  padding: 20px;
  margin: 15px;
  background: linear-gradient(135deg, #a18cd1, #6f86d6);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.title-text {
  color: rgb(249, 250, 251);
  font-size: 40x;
  margin-top: -11px;
}
.text-number {
  color: white;
  justify-content: center;
  font-size: 50px;
}

/* COURSE BOX */
#course {
  min-height: 400px;
  /* background-color: black; */
}
#course .course-content {
  margin-top: 20px;
  display: flex;
  margin: 10px;
  margin-left: 45px;
  flex-wrap: wrap;
  justify-content: center;
}
#course .course-box {
  height: 270px;
  width: 450px;
  background-color: #333;
  border-radius: 0.75rem;
  margin-right: 18px;
  margin-top: 15px;
}
#course .img img {
  height: 130px;
  width: 100%;
  border-radius: 0.75rem;
}
#course .img:hover {
  transform: scale(1.01);
}
#course .course-text {
  color: rgb(238, 97, 2);
  margin-left: 5px;
  font-size: 25px;
  font-weight: bold;
}
#course .date {
  display: flex;
  border-bottom: #aaa solid 0.5px;
  color: #aaa;
  font-size: 13px;
  padding-left: 8px;
}
#course .date div {
  margin: 4px;
}
#course .teacher {
  display: flex;
}
#course .name {
  color: rgb(30, 175, 83);
  margin-top: 5px;
  margin-left: 8px;
}
#course .price {
  float: right;
  color: rgb(223, 14, 14);
  background-color: #aaa;

  border-radius: 0.25rem;
  padding: 4px 8px;
  margin-left: 130px;
  margin-top: 5px;
}
#course .button {
  display: flex;
  margin-top: 5px;
  justify-content: center;
}
#course .button a {
  text-decoration: none;
  list-style: none;
  color: white;
}
#course .button-dk,
.button-them {
  border-radius: 0.75rem;
  background-color: #c3370d;
  width: 100px;
  height: 35px;
  display: inline-block;
  text-align: center;
  margin-right: 40px;
  padding-top: 7px;
}
#course .button-them {
  padding: 8px 0px;
  background-color: none;
  border: white solid 0.5x;
}
#course .button-them:hover {
  transform: scale(1.05);
}
#course .button-dk:hover {
  transform: scale(1.05);
}
#course .header-text {
  font-size: 40px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #1a98d2;
  padding: 10px;
}
#course .header-textnho {
  text-align: center;
  color: rgb(37, 131, 171);
  font-size: 20px;
  margin-top: 8px;
}
#course .xemthem {
  border-radius: 0.75rem;
  background-color: #117287;
  color: white;
  width: 100px;
  height: 35px;
  margin: 0 auto;
  border: none;
}
#course .xemthem:hover {
  transform: scale(1.01);
}

/* CSS CHO LOGIN */
#login {
  background-color: #c9d5fd;
  min-height: 750px;
  position: relative;
}
#login .login-main {
  position: absolute;
  top: 50%; /* đẩy xuống 50% chiều cao */
  left: 50%;
  transform: translate(-50%, -50%); /* kéo ngược lại đúng giữa */
}
#login .h1 {
  color: white;
  font-size: 50px;
  margin-top: 60px;
}
#login .no-tk a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 12px;
}
#login .no-tk a:hover {
  color: black;
}
#login .login-container {
  width: 670px;
  height: 450px;
  background-color: white;
  border-radius: 0.75rem;
  text-align: center;
  margin: 0 auto;
  display: flex;
}
#login .login-group {
}
#login .header-text {
  width: 300px;
  height: 450px;
  background-color: #6590f8;
  border-radius: 0.75rem 1.5rem 1.5rem 0.75rem;
}
#login .btn-register {
  background-color: #1a98d2;
  border: white solid 1px;
  color: white;
  padding: 5px 20px;
  border-radius: 0.25rem;
  margin-top: 25px;
}
#login .btn-register:hover {
  transform: scale(1.05);
}
#login .login-login {
  width: 300px;
  top: 90px;
}
#login .header-login {
  width: 150px;
  display: inline-block;
}

#login .login-header {
  font-weight: bold;
  font-size: 30px;
  margin: 40px;
  margin-left: 100px;
}
#login .form-group input {
  border-radius: 0.75rem;
  margin: 8px;
  background-color: #c9d5fd;
  border: none;
  padding: 12px 60px;
  margin-left: 45px;
}
#login .form-group input {
  color: black;
}
#login .login-group {
  margin-left: 60px;
}
#login .forgot-pass a {
  list-style: none;
  text-decoration: none;
  color: #333;
  font-size: 15px;
}
#login .forgot-pass a:hover {
  color: #6590f8;
}
#login .login-group {
  margin-top: 40px;

  display: inline-block;
}
#login .btn-login button {
  background-color: #6590f8;
  padding: 8px 80px;
  border: none;
  border-radius: 0.75rem;
  margin: 8px;
}
#login .btn-login:hover {
  transform: scale(1.05);
}

/* CSS COURSE ADMIN */
#course-adm {
  min-height: 1000px;
}
#course-adm .container {
  margin-top: 20px;
}
#course-adm .form-input {
  width: 400px;
  height: 350px;

  margin: 0 auto;
  border-radius: 0.75rem;
  margin-bottom: 35;
}
#course-adm .text {
  color: black;
  font-size: 30px;
  text-align: center;
}
#course-adm .input-group input,
textarea {
  /* background-color: #c9d5fd; */
  padding: 10px 40px;
  border-radius: 0.25rem;
  margin: 8px 0px 8px 70px;
}

#course-adm button {
  background-color: #6590f8;
  padding: 8px 78px;
  border: none;
  border-radius: 0.25rem;
  margin: 8px;
  margin-left: 70px;
  color: white;
}

#course-adm .danhsach {
  width: 80%;
  margin: 30px auto;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

#course-adm .table-main {
  display: flex;
  flex-direction: column;
  border: 1px solid #cccccc;
  border-radius: 8px;
  overflow: hidden;
  color: white;
}

#course-adm .header,
.content {
  display: grid;
  grid-template-columns: 60px 200px 150px 120px 120px 100px;
  padding: 10px;
  align-items: center;
}

#course-adm .header {
  background-color: #0859c3;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}

#course-adm .content:nth-child(even) {
  background-color: #fafafa;
}

#course-adm .content div {
  padding: 5px;
  color: black;
}

#course-adm .content a {
  text-decoration: none;
  color: #007bff;
}

#course-adm .content a:hover {
  text-decoration: underline;
}
#course-adm label {
  font-size: 12px;
  font-weight: bold; /* chữ đậm hơn cho đẹp */
  color: #333;
  width: 12px;
}
#qr {
  background-color: #c9d5fd;
  min-height: 1200px;
}
#qr .container {
  text-align: center;
}
#qr .text {
  padding: 50px 0px 20px 0px;
  color: rgb(207, 44, 11);
  font-size: 35px;
}
#qr label {
  font-size: 12px;
  margin-right: 200px;
}
#qr input {
  padding: 10px 100px;
  border-radius: 0.5rem;
  background-color: #eff3f6;
}
#qr button {
  margin-top: 8px;
  padding: 10px 20px;
  border-radius: 0.75rem;
  background-color: #007bff;
  color: white;
}
#qr .box-qr {
  background-color: white;
  width: 400px;
  margin: 0 auto;
  border-radius: 0.75rem;
  padding: 10px 10px 30px 10px;
  margin-top: 10px;
}
#qr .box-tt {
  margin-left: 20px;
}

#qr .input-nhap {
  border-radius: 0.25rem;
  width: 300px;
  height: 25px;
  border: 1px solid #d2bdbd;
  margin: 0 auto;
  margin-top: 3px;
  font-size: 13px;
  padding: 6px 0px 0px 6px;
}
#qr .box div {
  font-size: 10px;
  text-align: left;
  margin-left: 10px;
}
#qr .box {
  margin: 5px;
}

/* CSS PRODUCT COURSE                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   */
#product {
  position: relative;
  background: linear-gradient(135deg, #c8d0f4, #e2cff6);
  padding-bottom: 50vh;
}
#product .header-login {
  height: 40px;
  background-color: #d61a1a;
  position: fixed;
  right: 0;
  left: 0;
}
#product .nav-login {
  padding-top: 10px;
  display: flex;
  float: right;
  margin-right: 15px;
}
#product .nav-login a {
  text-decoration: none;
  list-style: none;
  color: white;
}
#product .nav-dk,
.nav-dn {
  width: 90px;
  height: 22px;
  border-radius: 0.75rem;
}
#product .nav-dk a {
  color: #ffffff;

  margin-right: 5px;
}
#product .nav-login a:hover {
  color: #e9dd05;
}
#product .dk {
  width: 400px;
  height: 550px;

  text-align: center;

  position: absolute;
  right: 80px;
  top: 140px;
}

#product .dk a {
  list-style: none;
  text-decoration: none;
  color: white;
}
#product .btn-dk {
  border-radius: 0.75rem;
  width: 150px;
  height: 25px;
  background-color: #007bff;
  margin: 0 auto;
  padding-top: 4px;
  margin-top: 15px;
  margin-bottom: 20px;
}
#product .btn-dk:hover {
  transform: scale(1.02);
}
#product .img {
  border-radius: 1.5rem;
}
#product .img img {
  width: 400px;
  border-radius: 1.5rem;
}
#product .free {
  color: #d7490d;
  font-size: 35px;
  margin-top: 15px;
}
#product .gioithieu {
  margin-left: 14vh;
}
#product .thoiluong {
  text-align: left;
  margin: 8px 0px 5px 125px;
  margin-top: 10px;
  line-height: 1.6;
  font-size: 16px;
  color: #000c;
}
#product .thoiluong span {
  font-weight: 750;
}
#product .container {
  padding: 50px;
  width: 800px;
  margin-left: 40px;
}
#product .header-text {
  font-size: 35px;
  font-weight: bold;
  padding-top: 20px;
}
#product .content {
  display: block;
  margin-top: 10px;
  line-height: 1.6;
  font-size: 16px;
  color: #000c;
}
#product .text-h4 {
  font-weight: bold;
  font-size: 20px;
}
#product .date {
  display: flex;
}
#product .thoiluong {
  font-size: 15px;
  margin-left: 8px;
  line-height: 1.6;
  font-size: 16px;
  color: #000c;
}
#product .course-list {
  width: 800px;
  margin-top: 20px;
  background-color: #f2f6f9;
  padding: 15px;
  border-radius: 0.75rem;
}
#product .list div {
  width: 700px;
  height: 35px;
  border-bottom: 1px solid #aaa;
  border-radius: 0.5rem;
  justify-content: space-between;
  margin: 10px;
}
#product .nav-tt {
  display: flex;
}
#product .nav-tt a {
  list-style: none;
  text-decoration: none;
  color: #ec460f;
  padding: 5px;
  border-bottom: 1px solid #aaa;
}
#product .xemthem {
  text-align: center;
}
#product .xemthem a {
  text-decoration: none;
  list-style: none;
  color: #007bff;
}
#product .xemthem a:hover {
  color: #03451d;
}
#product .btn-thoat a {
  margin-left: -170vh;
}

/* CSS HIỂN THI GIAO DIỆN HỌC  */
#product-course {
  position: relative;
}
#product-course .video {
  width: 100%;
  max-width: 1050px;
  aspect-ratio: 16/9;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
  background: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-left: 10vh;
}

#product-course .video iframe {
  width: 100%;
  height: 100%;
  border: none;
}
#product-course .header {
  height: 40px;
  display: block;
  background-color: #333;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}
#product-course .btn-thoat {
  float: left;
  margin: 10px 0px 0px 15px;
}
#product-course .btn-thoat a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-weight: bold;
}
#product-course .btn-thoat a:hover {
  color: #fea00a;
}
#product-course .position {
  float: right;
  color: rgb(255, 255, 255);
  margin: 10px 20px 0px 0px;
  border-bottom: 1px solid white;
}
#product-course .course-list {
  width: 300px;
  height: 740px;
  overflow: auto;
  background-color: #d0d6d3;
}
#product-course .course-list a {
  color: black;
  list-style: none;
  text-decoration: none;
}
#product-course .course-list a:hover {
  color: #b44747;
}
#product-course .list {
  margin-left: 15px;
  margin-top: 80px;
}
#product-course .list div {
  border-bottom: 0.5px solid #aaa;
  padding: 8px 0px;
  width: 300px;
}
#product-course .header-list {
  height: 35px;
  width: 280px;
  background-color: #007bff;
  padding: 4px 0px 0px 10px;
  color: white;
  font-size: 25px;
  text-align: center;
  position: fixed;
  top: 40px;
  position: absolute;
  z-index: 2;
}
#product-course .container {
  width: 1200px;
  margin-top: 25px;
}
#product-course .name-course {
  margin-left: 49vh;
  font-size: 35px;
  margin-top: -12vh;
}
#product-course .date {
  margin-left: 50vh;
  font-size: 15px;
  padding-bottom: 10vh;
}
#product-course .btn-control {
  display: flex;
  position: absolute;
  height: 42px;
  bottom: 0px;
  right: 0;
  left: 0;
  background-color: #5f7ec4;
  justify-content: center;
  position: fixed;
}
#product-course .btn-control .prevLesson,
.nextLesson {
  border-radius: 1rem;
  font-size: 17px;
  padding: 2px 25px;
}
#product-course .btn-control button {
  margin-top: 5px;
}
#product-course .main {
  display: flex;
}
#product-course .prevLesson {
  background-color: white;
  border: 2px solid #09f3eb;
  padding: 0px 25px;
  color: #ea4c08;
}
#product-course .prevLesson:hover {
  transform: scale(1.02);
}
#product-course .nextLesson {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 2px 25px;
}
#product-course .nextLesson:hover {
  transform: scale(1.02);
  color: #4d3d26;
}
#product-course .name-bai {
  display: block;
  float: left;
  margin-left: -75vh;
  color: white;
  margin-top: 5px;
}

/* ADD VIDEO */
/* ===========================
   FORM ADD VIDEO - GIAO DIỆN VĂN PHÒNG HIỆN ĐẠI
   Không sửa HTML - Viết CSS scoped bằng #add-video
   =========================== */

#add-video {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background: #f4f6fa;
  height: 800px;
  width: 100%;
  align-items: flex-start;

  box-sizing: border-box;
  background: radial-gradient(circle, #8cd9d3, #81cf9f);
  padding-top: 18vh;
}

#add-video .box {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  padding: 30px 40px;
  width: 100%;
  max-width: 650px;
  border: 1px solid #e6e9ef;
  margin: 0 auto;
}

#add-video .text {
  text-align: center;
  margin-bottom: 25px;
  height: 40px;
  border-radius: 0.25rem;
  background-color: #007bff;
}

#add-video .text h2 {
  font-size: 30px;
  color: #fbfbfb;
  font-weight: 600;
  letter-spacing: 0.3px;
  border-bottom: 1px solid #0f6efd;
  display: inline-block;
  padding-bottom: 6px;
  text-align: center;
}

/* Form Layout */
#add-video form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* Input Group */
#add-video .input-box {
  display: flex;
}

#add-video .input-box label {
  font-size: 14px;
  font-weight: 500;
  color: #444b5a;
  margin-bottom: 6px;
}

#add-video .input-box input[type="text"],
#add-video .input-box input[type="number"],
#add-video .input-box select,
#add-video .input-box textarea {
  width: 100%;
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  background-color: #fff;
  font-size: 15px;
  color: #1a1a1a;
  transition: border-color 0.25s, box-shadow 0.25s;
}

#add-video .input-box input:focus,
#add-video .input-box textarea:focus,
#add-video .input-box select:focus {
  outline: none;
  border-color: #0f6efd;
  box-shadow: 0 0 0 3px rgba(15, 110, 253, 0.15);
}

#add-video .input-box textarea {
  resize: vertical;
  min-height: 100px;
}

/* Checkbox */
#add-video .input-box input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 8px;
  accent-color: #0f6efd;
}

#add-video .input-box label input[type="checkbox"] + span {
  color: #444b5a;
}

/* Nút bấm */
#add-video .btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

#add-video .btn button {
  background: #0f6efd;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 18px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.25s, transform 0.2s, box-shadow 0.25s;
}

#add-video .btn button:hover {
  background: #0d5de3;
  box-shadow: 0 4px 12px rgba(15, 110, 253, 0.25);
}

#add-video .btn button:active {
  transform: translateY(1px);
}

/* Hiển thị lỗi */
#add-video p[style*="color:red"] {
  background: #ffe9e9;
  color: #c62828 !important;
  border-radius: 8px;
  padding: 8px 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

/* Responsive */
@media (max-width: 600px) {
  #add-video .box {
    padding: 25px 20px;
  }
  #add-video .text h2 {
    font-size: 18px;
  }
}
#add-video .text-dk-tv {
  color: #007bff;
}
#video .container-dk-tv {
  margin-top: 30px;
}
